
<div class="pokemon-cartas">
<!-- BULBASUR Y EVOLUCIONES -->
    <div class= "pokemon-cartas_img">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="Pokemon img">
    </div>

    <div class= "pokemon-cartas_num">
        Nº 001
    </div>

    <div class="pokemon-cartas_name">
        BULBASAUR
    </div>

    <div class= "pokemon-cartas_tipo">
        <div class="pokemon-cartas_tipo pokemon-cartas_tipo-planta">Planta</div>
        <div class="pokemon-cartas_tipo pokemon-cartas_tipo-veneno">Veneno</div>
    </div>

    <div class= "pokemon-cartas_img">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png" alt="Pokemon img">
    </div>

    <div class= "pokemon-cartas_num">
        Nº 002
    </div>

    <div class="pokemon-cartas_name">
        IVYSAUR
    </div>

    <div class= "pokemon-cartas_tipo">
        <div class="pokemon-cartas_tipo pokemon-cartas_tipo-planta">Planta</div>
        <div class="pokemon-cartas_tipo pokemon-cartas_tipo-veneno">Veneno</div>
    </div>

    <div class= "pokemon-cartas_img">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png" alt="Pokemon img">
    </div>

    <div class= "pokemon-cartas_num">
        Nº 003
    </div>

    <div class="pokemon-cartas_name">
        VENUSAUR
    </div>

    <div class= "pokemon-cartas_tipo">
        <div class="pokemon-cartas_tipo pokemon-cartas_tipo-planta">Planta</div>
        <div class="pokemon-cartas_tipo pokemon-cartas_tipo-veneno">Veneno</div>
    </div>

    <!-- CHARMANDER Y EVOLUCIONES -->
    <div class= "pokemon-cartas_img">
        <img src= "https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" alt="Pokemon img">
    </div>

    <div class= "pokemon-cartas_num">
        Nº 004
    </div>

    <div class="pokemon-cartas_name">
        CHARMANDER
    </div>

    <div class= "pokemon-cartas_tipo">
        <div class="pokemon-cartas_tipo pokemon-cartas_tipo-planta">Fuego</div>
        <div class="pokemon-cartas_tipo pokemon-cartas_tipo-veneno">Fuego</div>
    </div>
</div>
